./*rule{
    color: black;
    .test{
        color: red;
        .top{
            margin-bottom: 20px;
            &:hover{
                //color: ;
            }
            .tuen{

            }
        }
    }
}
*/
